<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diko's Projects</title>

        {{> font}}

        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        {{> navbar}}

        <div class="w-full bg-white py-16">
            <div class="w-full mx-auto max-w-[350px] md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1300px] flex flex-col gap-y-8">
                <p class="font-poppins font-bold text-black text-[32px] md:text-[36px] xl:text-[38px]">KARYA SAYA</p>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {{!-- CARD ITEMS --}}
                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>

                    <div class="relative rounded-[18px] group">

                        <img src="/images/project.jpeg" alt="" class="w-full h-full rounded-[18px]">

                        <div class="w-full px-5 py-3 absolute bottom-0 left-0 bg-soft-white opacity-60 z-10 group-hover:hidden">
                            <p class="font-poppins font-bold text-[16px] text-black uppercase">Mental Guardians</p>
                        </div>

                        <div class="flex justify-center items-center rounded-[18px] shadow-md bg-white absolute z-20 top-4 right-4 p-3 group-hover:hidden">
                            <p class="font-poppins font-semibold text-[12px] text-soft-black uppercase">Capstone Project</p>
                        </div>

                        <div class="w-full h-full absolute z-30 top-0 left-0 bg-soft-black opacity-60 rounded-[18px] hidden group-hover:flex"></div>

                        <a href="" class="w-[70%] mx-auto bg-primary-brown py-3 rounded-[12px] hidden justify-center items-center absolute z-40 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 group-hover:flex hover:scale-105 duration-300">
                            <p class="font-poppins font-bold text-white text-[24px] lg:text-[18px] xl:text-[20px] 2xl:text-[24px] uppercase">detail</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{> navbarScript}}
    </body>
</html>