<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diko's Projects</title>

        {{> font}}

        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        <div class="w-full min-h-screen">
            {{> navbar}}
        </div>
    </body>


    {{> navbarScript}}
</html>